* text=auto eol=lf

*.wasm binary
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
*.traineddata binary
*.traineddata.gz binary
